<h1>Let's make a <%= "#{@cocktail.name}" %>!</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description, label: "Quantity:" %>
  <%= f.submit "Create dose" %>
<% end %>

